<% if @posts %>
  <%= render @posts %>
  <div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <p>
        There is nothing to show, try searching for something else.
      </p>
    </div>
  </div>
