// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group.no-bottom-margin {
  margin-bottom: 0;
}

.tweet-margin {
  margin: 10px;
}

.reply-to {
  filter: alpha(opacity=70);
  opacity: .7;
}

.comments li {
  padding-left: 40px;
  font-size: 0.8em;
}
